@import url(https://db.onlinewebfonts.com/c/f80c2bb183997730d52e1d40d42bef9e?family=Aspira+Nar+W01+Bold);

*
{
    box-sizing: border-box;
}

input[type="text"], 
input[type="password"] {
    width: 100%;
    box-sizing: border-box; /* Важно: чтобы padding не "выдавил" инпут за края */
}

html, body
{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
}

body
{
    background-color: #f3f4f8;
}

.container
{
    width: 60%;
    margin: 100px auto;
}

.wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 

    
}

.block
{
    display: block;
    width: 100%;
}

.white_field
{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: gray;
    width: 70%;
}

.hzform input
{
    display: block;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
}

.width_fifty
{
    width: 50%;
}

.textlogo
{
    font-family: "Aspira Nar W01 Bold";
    font-size: 40px;
    color: #1166f2;
    margin: 4px 0px;
}

.arialfnt
{
    font-family: "Arial";
}

.hz a
{
    display: block;
}

.blue_button
{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #1166f2;
    color: white;
    font-family: arial;
    font-weight: 500;
}

.pswrd
{
    text-decoration: none;
    font-family: arial;
    color: #1166f2;
    font-weight: 600;
    font-size: 10px;
    display: inline-block;
    padding: 12px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgb(200, 200, 200);;
}

.green_button
{
    width: fit-content;
    padding: 8px;
    margin: 10px auto 0px auto;
    border: none;
    border-radius: 5px;
    background-color: #40b927;
    color: white;
    font-family: arial;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.textidk
{
    margin-top: 20px;
    font-family: arial;
    font-weight: bold;
    font-size: 10px;
    width: 70%;
    text-align: center;
}